<!DOCTYPE html>
<html>
<head>
    <title>Enter a new message</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <a href="/">Back</a>
    <h1>New message</h1>
    <form method="POST" action="/new">
    <input name="user" type="text" placeholder="Name" />
    <input name="text" type="text" placeholder="Enter a message" />
    <button type="submit">Submit</button>
</form> 
</body>
</html>